# Q1: Create a variable named `age` and assign your age to it.
# Your code here:


# Q2: Create two variables, `city` and `country`, and assign your city and country to them.
# Your code here:


# Q3: Combine `city` and `country` into a single string `location` and print it.
# Your code here:


# Q4: Change the value of `age` to a different number and print it.
# Your code here:


# Q5: Create a variable `height` and assign a float value representing your height in meters.
# Your code here:


# Q6: Check and print the data type of the `height` variable using the `type()` function.
# Your code here:


# Q7: Assign the value `True` to a variable named `is_student` and print the variable.
# Your code here:


# Q8: Create a variable `name` with your first name using double quotes and then another variable `surname` with your last name using single quotes. Combine them into `full_name`.
# Your code here:


# Q9: Create two variables `x` and `y` and assign them integer values. Swap their values without using a third variable.
# Your code here:


# Q10: Write a statement to update the `age` variable by adding 5 to it.
# Your code here:


# Q11: Create a variable `length` and assign it the value 15. Create another variable `width` and assign it 10. Calculate the area of a rectangle using these variables and print the result.
# Your code here:


# Q12: Using the variables `base` and `height`, calculate the area of a triangle and print it. Assume `base = 8` and `height = 5`.
# Your code here:


# Q13: Create a string variable `greeting` with the text "Hello" and another variable `recipient` with the text "World". Combine them with a space in between and print the result.
# Your code here:


# Q14: Create a boolean variable `is_active` and set it to `False`. Then change its value to `True` and print it.
# Your code here:


# Q15: Using f-strings, print a formatted message: "My name is [name] and I am [age] years old." Replace [name] and [age] with the appropriate variables.
# Your code here:


# Q16: Create a variable `pi` and assign it the value 3.14159. Print the variable, ensuring it only shows 2 decimal places.
# Your code here:


# Q17: Assign the value of a mathematical expression (e.g., `2 * (3 + 5)`) to a variable and print it.
# Your code here:


# Q18: Create a variable `sentence` and assign it a sentence of your choice. Use slicing to print the first 5 characters.
# Your code here:


# Q19: Create a variable `number` with the value 100. Use an arithmetic operation to double its value and then print it.
# Your code here:


# Q20: Declare three variables `a`, `b`, and `c` with values 5, 10, and 15 respectively. Calculate and print their average.
# Your code here:


# =======================================================================
# End of Exercise
# =======================================================================

In [4]:
# Q1: Create a variable named `age` and assign your age to it.
age = 21 
age

21

In [16]:
# Q2: Create two variables, `city` and `country`, and assign your city and country to them.
city = 'borj'
country= 'algeria'

In [9]:
# Q3: Combine `city` and `country` into a single string `location` and print it.
print('my location is',city,country)

my location is borj algeria

In [10]:
# Q4: Change the value of `age` to a different number and print it.
age = 31
print('My updated age is',age)

My updated age is 31

In [17]:
# Q5: Create a variable `height` and assign a float value representing your height in meters.
height = 1.65
height

1.65

In [14]:
# Q6: Check and print the data type of the `height` variable using the `type()` function.
print("Data type of 'height':", type(height))

Data type of 'height': <class 'float'>

In [21]:
# Q7: Assign the value `True` to a variable named `is_student` and print the variable.
is_student = 'true'
print('student:',is_student)

student: true

In [24]:
# Q8: Create a variable `name` with your first name using double quotes and then another variable `surname` with your last name using single quotes. Combine them into `full_name`.
name = "Meriem El Batoul"
surname = 'BIBI'

In [25]:
print('my Full name:',name,surname)

my Full name: Meriem El Batoul BIBI

In [2]:
# Q9: Create two variables `x` and `y` and assign them integer values. Swap their values without using a third variable.
x = 3
y = 14
x,y

(3, 14)

In [3]:
x = 14 
y = 3 
x,y

(14, 3)

In [5]:
# Q10: Write a statement to update the `age` variable by adding 5 to it.
age+=5
age

26

In [9]:
# Q11: Create a variable `length` and assign it the value 15. Create another variable `width` and assign it 10. Calculate the area of a rectangle using these variables and print the result.
length = 15 
width = 10 
Area = length*width
print('AREA of the rectangle :',Area)

AREA: 150

In [10]:
# Q12: Using the variables `base` and `height`, calculate the area of a triangle and print it. Assume `base = 8` and `height = 5`.
base = 8
height = 5
area = (base * height)/2
print('AREA of triangle :',area)

AREA of triangle : 20.0

In [13]:
# Q13: Create a string variable `greeting` with the text "Hello" and another variable `recipient` with the text "World". Combine them with a space in between and print the result.
greeting = "hello"
recipient = "world"
combined = greeting + " " + recipient
print("combined:",combined)

combined: hello world

In [15]:
# Q14: Create a boolean variable `is_active` and set it to `False`. Then change its value to `True` and print it.
is_active = 'False'
is_active = 'True'
print(is_active)

True

In [16]:
# Q15: Using f-strings, print a formatted message: "My name is [name] and I am [age] years old." Replace [name] and [age] with the appropriate variables.
name = 'Meriem El Batoul'
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is Meriem El Batoul and I am 21 years old.

In [18]:
# Q16: Create a variable `pi` and assign it the value 3.14159. Print the variable, ensuring it only shows 2 decimal places.
pi = 3.14159
print(f"{pi:.2f}")

3.14

In [20]:
# Q17: Assign the value of a mathematical expression (e.g., `2 * (3 + 5)`) to a variable and print it.
x = 2 * (3 + 5)
x

16

In [22]:
# Q18: Create a variable `sentence` and assign it a sentence of your choice. Use slicing to print the first 5 characters.
sentence = "Iam studing DS"
print(sentence[:6])

Iam st

In [23]:
# Q19: Create a variable `number` with the value 100. Use an arithmetic operation to double its value and then print it.
number = 100 
double = number * 2 
print("Double NUMBER:",double)

Double NUMBER: 200

In [28]:
# Q20: Declare three variables `a`, `b`, and `c` with values 5, 10, and 15 respectively. Calculate and print their average.
a = 5 
b = 10 
c = 15 
print("the average=",(a+ b + c)/3)

the average= 10.0